.corsla {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100% !important;
    max-width: 1500px;
}

.Imgcorsla {
    width: 100% !important;
    height: 500px;
    object-fit: fill;
}

.btncorsla {
    background: none;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: black;
    border: 2px solid black;
    font-weight: 500;
    border-radius: 4px;
    padding: 0 17px 5px 17px;
    font-size: 24px;
    transition: all ease-in-out 0.2s;
}

.Caption {
    background-color: rgba(0, 0, 0, 0.52);
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    flex-direction: column;
    top: 30px;
    right: 0 !important;
    left: 0 !important;
}

.h3 {
    font-family: 'Almarai', sans-serif;
    font-weight: 600;
    font-size: 65px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p {
    font-size: 20px;
}



@media only screen and (max-width: 600px) {
    .h3 {
        font-size: 45px;
    }

    .Caption {

        margin-bottom: 20px;
    }
}