.MyDiv {
    display: block;
}

.MyIcon {
    color: black;
    margin: 0 6.5px;
}

.MyIcon:hover {
    color: black;
}

@media only screen and (max-width: 991.5px) {
    .MyDiv {
        margin-top: 15px;
    }
}