.h1 {
    margin-top: 60px;
    text-align: center;
}

.icon {
    background-color: #3b71ca;
    padding: 4px;
    border-radius: 5px;
}

.icon:hover {
    background-color: #3b72caec;
}

.div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sizes {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-radius: 4px;
    width: 130px;
    border: 2px solid black;
}

.Btn2 {
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.amount {
    font-size: 20px;
    padding-top: 3.5px;
}